#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.news-letter-sign-up {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 50;
}

.news-letter-sign-up-card {
  background-color: #f0f6f7 !important;
  border-radius: 10px !important;
}

.news-letter-sign-up-card-content {
  display: flex;
  flex-direction: column;
}

.news-letter-sign-up-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px !important;
}

.news-letter-sign-up-card-header p {
  font-size: 24px !important;
  color: #00c394 !important;
  font-weight: 600 !important;
  font-family: inter, sans-serif !important;
}

.news-letter-sign-up-card-button {
  background-color: #031417 !important;
  margin-bottom: 10px !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  color: #fff !important;
  font-family: proxima-nova,sans-serif !important;
}

.news-letter-sign-up-card-button:hover {
  background-color: #00c394 !important;
  border: none !important;
}

.news-letter-sign-up-card-textfield {
  font-family: proxima-nova,sans-serif !important;
}

.news-letter-sign-up-card-textfield input {
  color: #666 !important;
  font-family: proxima-nova,sans-serif !important;
  border-radius: 4px !important;
  border: 1.5px solid #c1c8c9 !important;
  padding: 8px 12px !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  text-align: left !important;
}

.news-letter-sign-up-card-textfield fieldset {
  border-color: #031417 !important;
}

.news-letter-sign-up-card-error {
  font-size: 14px !important;
  color: #f50959 !important;
  font-family: "Inter", sans-serif !important;
}

.news-letter-success-message {
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 27.9px !important;
  text-align: center !important;
  font-family: inter, sans-serif !important;
  color: #fff !important;
}

.news-letter-sign-up-button {
  background-color: #031417 !important;
  margin-bottom: 10px !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  color: #fff !important;
  font-family: proxima-nova,sans-serif !important;
  border: none !important;
}

.news-letter-sign-up-button:hover {
  background-color: #00c394 !important;
  border: none !important;
}